/* your beautiful css styling goes here! */
body{
}
.board{
  width: 1000px;
  height: 1000px;
  margin: auto;
  border: 4px solid blue;
  background-image: url("assets/field.gif");
  background-size: cover;
}
/*.enemy{ 
  animation-name: rotateX;
  animation-duration: ;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframe rotate{ 
-webkit-transform: rotate(360);
-webkit-transform-origin: 50% 50%;
}*/
/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

